baseURL: "https://hugo-profile.netlify.app"
languageCode: "en-us"
title: "ELmehdi Lamsyah Profile"
theme: hugo-profile

Paginate: 3
disqusShortname: gurusabarish
googleAnalytics: G-DWJJVE27WD

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: blog
      name: Blog
      title: Blog posts
      url: /blogs
      weight: 1

    #Dropdown menu
    - identifier: dropdown
      title: Example dropdown menu
      name: Dropdown
      weight: 2
    - identifier: dropdown1
      title: example dropdown 1
      name: example 1
      url: /#
      parent: dropdown
      weight: 1
    - identifier: dropdown2
      title: example dropdown 2
      name: example 2
      url: /#
      parent: dropdown
      weight: 2

params:
  title: "LAMSYAH ELMEHDI"
  description: portfolio
  # staticPath: ""  # The path to serve the static files from
  favicon: "/fav1.png"

  theme:
    disableThemeToggle: false
    # defaultTheme: "light" # dark

  # font:
  #   fontSize: 1.5rem # default: 1rem
  #   fontWeight: 500 # default: 400
  #   lineHeight: 1 # default: 1.5
  #   textAlign: right # default: left

  # color preference
  # color:
  #   textColor:
  #   secondaryTextColor:
  #   backgroundColor:
  #   secondaryBackgroundColor:
  #   primaryColor:
  #   secondaryColor:

  #   darkmode:
  #     textColor:
  #     secondaryTextColor:
  #     backgroundColor:
  #     secondaryBackgroundColor:
  #     primaryColor:
  #     secondaryColor:

  # If you want to customize the menu, you can change it here
  # navbar:
  #   align: mx-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
  #   brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
  #   brandName: "Profile" # Brand name for the brand | default is the title variable

  #   menus:
  #     disableAbout: true
  #     disableExperience: true
  #     disableEducation: true
  #     disableProjects: true
  #     disableAchievements: true
  #     disableContact: true

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "ELMEHDI."
    subtitle: "I am a Junior Data Scientist"
    content: "Proficient in Machine Learning and Deep Learning, as well as being experienced in Automatic speech recognition, NLP, and Recommendation systems."
    image: /images/me.jpg
    button:
      enable: true
      name: "Resume"
      url: "https://drive.google.com/file/d/1242EWVNr0Foh5QHApSGahLRXVNkLRusN/view?usp=sharing"
    # socialLinks:

      # fontAwesomeIcons:
      #  - icon: fab fa-github
      #    url: https://example.com
      #  - icon: fab fa-twitter
      #    url: https://example.com

      # customIcons:
      #  - icon: /fav1.png
      #   url: "https://example.com"

  # About
  about:
    enable: true
    title: "About Me"
    image: "/images/me.png"
    content: |-
      I am a Data scientist with a passion for NLP and predicting  problems. I have a background in computer science and mathematics, and I have a strong interest in the intersection of technology and real life. I am currently working as a Data engineer at [integrate an affiliate of kantar.](https://ma.linkedin.com/company/integrate-consulting-an-affiliate-of-kantar) in Casablanca, Morocco. 

      behind main job, i am currently working on a project focused on soccer match analysis using deep leanrning and transformers .
    skills:
      enable: true
      title: "Here are a few domains I've been working with recently:"
      items:
        - "NLP"
        - "data engineering "
        - "data visualisation"
        - "cloud computing (aws/gcp)"
        - "Chatbots"

  # Experience
  experience:
    enable: true
    items:
      - job: "Data engineer"
        company: " GAISIE’SO "
        companyUrl: "https://vymaps.com/MA/Gaisie-so-Sarl-118621299523594/"
        date: "april 2022 - present"
        featuredLink:
          enable: false
          name: "View the project"
          url: "https://example.com"
        content: |
          - building and deploying chatbots based on RASA framework
          - Machine Learning models integration in AWS instance (Django back-end)
      - job: "Software Developer"
        company: "Amazon"
        companyUrl: "https://example.com"
        date: "Sep 2020 - Dec 2021"
        featuredLink:
          enable: true
          url: "https://example.com"
        info:
          enable: true
          content: I worked as a software developer for more than one year in Amazon.
        content: |
          I am currently working as a software developer at [example org.](https://example.com) in San Francisco, CA. I am currently working on a project that will be used to help people find the best way to get around the city.

          - Lead backend developer for a product.
          - Created a frontend design for a product.

      - job: "Junior Software Developer"
        company: "Apple"
        companyUrl: "https://example.com"
        date: "Jan 2020 - Aug 2020"
        info:
          enable: false
        featuredLink:
          enable: true
          url: "https://example.com"
        content: |
          I am currently working as a software developer at [example org.](https://example.com) in San Francisco, CA. I am currently working on a project that will be used to help people find the best way to get around the city.

          - Lead backend developer for a product.
          - Created a frontend design for a product.

      - job: "UI/UX Designer"
        company: "Netflix"
        companyUrl: "https://example.com"
        date: "June 2017 - Nov 2019"
        featuredLink:
          enable: true
          url: "https://example.com"
        content: |
          I am currently working as a software developer at [example org.](https://example.com) in San Francisco, CA. I am currently working on a project that will be used to help people find the best way to get around the city.

          - Lead backend developer for a product.
          - Created a frontend design for a product.

      - job: "Product Designer"
        company: "Google"
        companyUrl: "https://example.com"
        date: "Feb 2016 - Mar 2017"
        content: "I am currently working as a software developer at [example org.](https://example.com) in San Francisco, CA. I am currently working on a project that will be used to help people find the best way to get around the city."

  # Education
  education:
    enable: true
    # index: true
    items:
      - title: "Data science and Business Intelligence Systems"
        school:
          name: "Lorraine university"
          url: "https://www.univ-lorraine.fr/"
        date: "2022 - 2023"
        GPA: ""
        content: |-

      - title: "Artificial intelligent and data science"
        school:
          name: "Mohammed 5 university"
          url: "http://www.um5.ac.ma/um5/"
        date: "2019 - 2021"
        GPA: ""
        content: |-

      - title: "Bachelor of Science in Computer Science"
        school:
          name: "Sidi mohammed ben abdellah"
          url: "http://www.usmba.ac.ma/~usmba2/"
        date: "2016 - 2019"
        GPA: ""
        content: |-

        featuredLink:
          enable: false
          name: "My academic record"
          url: "https://example.com"
      - title: "Baccalaureate MATH -A- "
        school:
          name: "Ali ben barri"
          url: "https://www.facebook.com/Ali.Ben.Barri/"
        GPA: ""
        date: "2015"
        featuredLink:
          enable: false
          url: "https://example.com"

  # Achievements
  achievements:
    enable: false
    items:
      - title: GAISIESO
        content: DATA ENGINEER
        url: https://example.com
      - title: KANTAR
        content: Developed a product using Artificial Intelligence.
      - title: VOKARIS
        content: Developed a theme and getting 1K+ downloads per month.
        url: "https://github.com/gurusabarish/hugo-profile"
      - title: MOHAMMED 5 university
        content: We are developed a product which can help others.
      - title: PLUMN'S
        content: Contributed to a open source project.
        url: https://example.com

  # projects
  projects:
    enable: false
    items:
      - title: Hugo Profile
        content: A highly customizable and mobile first Hugo template for personal portfolio and blog.
        image: /images/projects/profile.png
        featured:
          name: Demo
          link: https://hugo-profile.netlify.app
        # badges:
        #   - "Hugo"
        #   - "Bootstrap"
        #   - "Javascript"
        links:
          - icon: fa fa-envelope
            url: mailto:?subject=Hugo%20Profile%20Template&body=Check%20it%20out:%20https%3a%2f%2fhugo-profile.netlify.app%2fblog%2fmarkdown-syntax%2f
          - icon: fab fa-github
            url: https://github.com/gurusabarish/hugo-profile
          - icon: fab fa-twitter
            url: https://twitter.com/intent/tweet?text=Check+it+out:&url=https%3A%2F%2Fgithub.com%2Fgurusabarish%2Fhugo-profile

      - title: Image Converter
        content: A web app to convert image to pdf, png to jpg, png to jpg and png to webp without database using django.
        image: /images/projects/converter.jpg
        featured:
          name: Demo
          link: https://django-converter.herokuapp.com
        # badges:
        #   - "Django"
        #   - "Bootstrap"
        links:
          - icon: fab fa-github
            url: https://github.com/gurusabarish/converter

      - title: Hugo Profile V2
        content: A clean and simple Hugo template for personal portfolio and blog.
        image: /images/projects/profile2.jpg
        featured:
          name: Demo V2
          link: https://hugo-profile-2.netlify.app
        # badges:
        #   - "Hugo"
        #   - "Bootstrap"
        #   - "Javascript"
        links:
          - icon: fab fa-github
            url: https://github.com/gurusabarish/HugoProfileV2

  #Contact
  contact:
    enable: true
    content: My inbox is always open. Whether you have a question or just want to say hi, I’ll  get back to you!
    email: lamsyahmehdi@gmail.com
    btnName: Mail me

  footer:
    # recentPosts: false
    socialNetworks:
      github: https://github.com/elmehdiLAMSYAH
      linkedin: https://www.linkedin.com/in/elmehdi-lamsyah-a04bba149/
      instagram: https://www.instagram.com/elmehdi_lmsh/
      facebook: https://www.facebook.com/mehdi.santana.56/
